/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset { border: none; }

input[type="submit"], button { cursor: pointer; }

input[type='submit']::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

table { border-spacing: 0; border-collapse: collapse; }

* { -webkit-text-size-adjust: none; }

/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body { font-family: 'Open Sans', sans-serif; font-size: 12px; font-weight: 600; color: #444; line-height: 1.4; }

a { text-decoration: none; }
a:hover { text-decoration: none; }

.pseudo-link { cursor: pointer; border-bottom: 1px dashed; line-height: 1; }

.h1 { margin-bottom: 24px; font-weight: 600; font-size: 24px; color: #444; }

.divide { height: 1px; background: #ededed; margin: 26px 0; }

/* ------------------------------------ //END Main styles --------------------------------------- */
.l-header { position: relative; border-bottom: 1px solid #f1f1f1; background: #F0F1F3; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjEwMCUiIHI9IjEwMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZjFmMyIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(0%, #ffffff), color-stop(100%, #f0f1f3)); background-image: -webkit-radial-gradient(center bottom, #ffffff 0%, #f0f1f3 100%); background-image: -moz-radial-gradient(center bottom, #ffffff 0%, #f0f1f3 100%); background-image: -o-radial-gradient(center bottom, #ffffff 0%, #f0f1f3 100%); background-image: radial-gradient(center bottom, #ffffff 0%, #f0f1f3 100%); }

.header { max-width: 1000px; margin: 0 auto; height: 98px; padding-top: 18px; }

.logo { float: left; }
.logo a { display: block; font: 0/0 a; text-shadow: none; color: transparent; }
.logo a i { display: block; background: url('../img/icons-s6e1fd22676.png') 0 0 no-repeat; width: 200px; height: 72px; }

.l-header:before, .l-header:after { content: ""; position: absolute; z-index: -2; }

.l-header:before { top: 50%; bottom: 0px; left: 10px; right: 10px; -webkit-box-shadow: 0 -89px 47px 85px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 -89px 47px 85px rgba(0, 0, 0, 0.4); box-shadow: 0 -89px 47px 85px rgba(0, 0, 0, 0.4); -moz-border-radius: 50% / 10px; border-radius: 50% / 10px; }

.menu { float: left; margin: 36px 0 0 67px; }
.menu li { position: relative; display: inline-block; width: 200px; padding-left: 48px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.menu li a { padding: 1px 4px; font-size: 14px; font-weight: 400; color: #444; }
.menu li a:hover { color: #000; }

.transactions.is-active a, .balances.is-active a, .username.is-active a { background: #ffd65d; }

.transactions:before { content: ""; position: absolute; top: 50%; left: 0; margin-top: -11px; background: url('../img/icons-s6e1fd22676.png') 0 -121px no-repeat; width: 37px; height: 23px; }

.balances:before { content: ""; position: absolute; top: 50%; left: 0; margin-top: -15px; background: url('../img/icons-s6e1fd22676.png') 0 -82px no-repeat; width: 35px; height: 29px; }

.username:before { content: ""; position: absolute; top: 50%; left: 0; margin-top: -10px; background: url('../img/icons-s6e1fd22676.png') 0 -217px no-repeat; width: 27px; height: 19px; }

.username.is-active:before { content: ""; position: absolute; top: 50%; left: 0; margin-top: -10px; background: url('../img/icons-s6e1fd22676.png') 0 -188px no-repeat; width: 27px; height: 19px; }

.logout { float: right; text-decoration: underline; margin-top: 35px; }

/* ----------------------------------------- Header --------------------------------------------- */
/* -------------------------------------- //END Header ------------------------------------------ */
/* ------------------------------------- Independent blocks -------------------------------------- */
/* ---------------------------------- //END Independent blocks ----------------------------------- */
/* ----------------------------------------- Footer ---------------------------------------------- */
/* -------------------------------------- //END Footer ------------------------------------------- */
.content { max-width: 1000px; margin: 0 auto; }

.settings { *zoom: 1; margin-top: 40px; }
.settings:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.profile { width: 40%; float: left; padding-right: 4%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.input { margin-top: 14px; }
.input label { *zoom: 1; }
.input label:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.input input { width: 245px; height: 35px; padding: 0 10px; border: 1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 18px; color: #444; }

.input__title { display: inline-block; vertical-align: middle; width: 111px; font-size: 13px; font-weight: 600; }

.add-email { margin-top: 14px; font-size: 13px; line-height: 35px; font-weight: 600; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.add-email__add { position: relative; display: inline-block; margin-left: 12px; font-size: 12px; }
.add-email__add:before { content: ""; position: absolute; top: 2px; left: -12px; background: url('../img/icons-s6e1fd22676.png') 0 -348px no-repeat; width: 9px; height: 9px; }

.userpic { margin-top: 14px; }

.userpic__avatar { display: inline-block; vertical-align: middle; width: 68px; height: 68px; }
.userpic__avatar img { width: 100%; height: 100%; }

.userpic__change { display: inline-block; vertical-align: middle; margin-left: 10px; font-size: 12px; font-weight: 600; }

.social { width: 28%; float: left; }

.social__accounts li { position: relative; height: 24px; line-height: 24px; padding: 0 40px; margin-bottom: 24px; font-size: 13px; font-weight: 600; }
.social__accounts .f:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s6e1fd22676.png') 0 -280px no-repeat; width: 24px; height: 24px; }
.social__accounts .t:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s6e1fd22676.png') 0 -154px no-repeat; width: 24px; height: 24px; }
.social__accounts .in:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s6e1fd22676.png') 0 -314px no-repeat; width: 24px; height: 24px; }
.social__accounts .vk:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s6e1fd22676.png') 0 -246px no-repeat; width: 24px; height: 24px; }

.f.is-linked .social__link { display: none; }
.f.is-linked .social__profile { display: inline-block; }
.f.is-linked .social__unlink { display: inline-block; }

.social__link { display: inline-block; font-size: 12px; }

.social__profile { display: none; }

.social__unlink { display: none; margin-left: 37px; }

.currencies { width: 32%; float: left; }

.currencies__help { margin: -14px 0 14px; font-size: 12px; font-weight: 600; }

.currencies__droppable { height: 72px; -webkit-border-radius: 34px; -moz-border-radius: 34px; -ms-border-radius: 34px; -o-border-radius: 34px; border-radius: 34px; background: #ffd65d; }

.currencies__list { *zoom: 1; margin-top: 15px; }
.currencies__list:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.currencies__item { float: left; width: 25%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 20px; padding-right: 10px; }
.currencies__item p { margin-top: 6px; }

.btn { height: 35px; line-height: 35px; display: inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #aeaeae; text-align: center; text-transform: uppercase; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); color: #000; text-shadow: 0 2px 0 white; background: #e9e9e9; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #d9d9d9)); background-image: -webkit-linear-gradient(top, #fefefe 0%, #d9d9d9 100%); background-image: -moz-linear-gradient(top, #fefefe 0%, #d9d9d9 100%); background-image: -o-linear-gradient(top, #fefefe 0%, #d9d9d9 100%); background-image: linear-gradient(top, #fefefe 0%, #d9d9d9 100%); }

.btn_small { width: 55px; font-size: 16px; }

.btn_wide { width: 225px; color: #434343; font-size: 18px; font-weight: bold; text-transform: none; text-shadow: 0 1px 0 white; cursor: pointer; }

.save { text-align: center; }
